body {
    background-image: url("images/bg_01.jpg");
    background-color: #ffffff;
    background-size: 100%;
    height: 100%;
    background-attachment: scroll;
    background-repeat: no-repeat;
}
header {
    margin-left: 14%;
}
ul {
    text-align: center;
    display: flex;
    font-size: 100%;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
    font-family: 'oswald', sans-serif;
    width: 100%;
}

ul#nav li {
	position: relative;
    list-style: none;
    margin: 23% 0 0 0;
	height: 72px;
    display: inline-block;
    width: 17%;
}
ul#nav li a {
	display: inline-block;
	padding: 17px 12px;
    line-height: 38px;
	text-decoration: none;
	color: black;
	-moz-transition: all 0.2s ease-in-out;
	-o-transition: all 0.2s ease-in-out;
	-webkit-transition: all 0.2s ease-in-out;
	-ms-transition: all 0.2s ease-in-out;
	transition: all 0.2s ease-in-out;
}
ul#nav li a:hover {
    text-decoration: underline;
    text-decoration-color:  #ffff00;
    color: gray;
}
ul#nav li a:active {
	background-color: transparent !important;
}
ul#nav li.current a {
	background: #f26522;
	color: white;
}


div.recent {
    font-family: Impact, 'Arial Black', sans-serif;
    color: black;
    font-size: 20px;
    text-align: center;
    text-decoration: underline;
}
html, body
{
    height: 100%;
}
.container {
    position: relative;
    width: 100%;
    height: 30%;
    padding-bottom: 56.25%;
    overflow: hidden;
}
.video {
    position: absolute;
    margin-left: 13%;
    top: 0;
    left: 0;
    width: 75%;
    height: 75%;
    border: 8px solid #ffff00;
    border-radius: 10px;
    background-color: #000;
}

div.video-title {
    width: 100%;
    text-align: center;
    display: block;
    font-size: 100%;
    padding: 0;
    list-style-type: none;
    flex-direction: row;
    font-family: 'oswald', sans-serif;
}
.fas{
    color: #000000;
}

/* Calendar */
  /* SIDEBAR */
  
  main {
    grid-area: content;
    padding: 10px;
    width:80%;
    display: block;
    margin-left: 9.6%;
  }
  
  /* MAIN */
  .calendar__week,
  .calendar__header {
    display: grid;
    grid-template-columns: repeat(7, 1fr);  
  }
  .calendar__week {
    grid-auto-rows: 140px ;
    text-align: right;
  }
  
  .calendar__header {
    grid-auto-rows: 40px;
    align-items: center;
    text-align: center;
  }
  
  .calendar__day {
    padding: 16px 16px 0 16px;
  }
 
  .event {
      text-decoration: underline;
      text-decoration-color: #fffb00;
  }
  .kst{
      font-size: 70%;
  }
  
  /* COSMETIC STYLING */
  
  :root {
    --red: #ED5454;
  }
  
  body {
    font-family: Montserrat;
    font-weight: 100;
    color: rgb(70, 70, 70);
  }
  
  .calendar {
    background-color: white;
    border: 2px solid #e1e1e1;
  }
  
  .calendar__header > div {
    text-transform: uppercase;
    font-size: 0.8em;
    font-weight: bold;
  }
  
  .calendar__day {
    border-right: 2px solid #e1e1e1;
    border-top: 2px solid #e1e1e1;
  }
  
  .calendar__day:last-child {
    border-right: 0;
  }
  
  .event-day{
    background-color: #ffff00;
  }
  
  /* CALENDAR ENDS */

@media screen and (max-width: 700px) {
    .menu_text {
        display: none;
    }
    ul#nav {
        font-size: 10px;
    }
    header {
        margin-left: 14%;
    }
    ul#nav li {
        text-align: center;
        width: 16.5%;
        margin: 18% 0 0 0;
        height: 48px;
    }
    div.recent {
        font-size: 8px;
    }
    div.video-title{
        font-size: 7px;
    }
    .video {
        border: 3px solid #ffff00;
        margin-left: 12%;
    }
    main{
        margin-left: 3%;
        padding: 0;
        width: 92%;
    }
    .calendar{
        border: 1px solid #e1e1e1;
    }
    .calendar__header{
        grid-auto-rows: 20px;
    }
      .calendar__week {
    grid-auto-rows: 80px;
    text-align: center;
      }
      .calendar__day {
        padding: 7px 6px 0 6px;
        border-right: 1px solid #e1e1e1;
        border-top: 1px solid #e1e1e1;
      }
    .event {
        font-size:5px;
        font-weight:bold;
    }
    }
